.full1{
    position: relative;
    background-color: #85FFBD;
background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    top: 0;
    left: 78px;
    transition: all 0.5s ease;
    z-index: 5;
}

.title1 h1{
  font-size: 30px;
}
 .button1 {
    height: 50px;
    color: aliceblue;
 }

.sidebar.open.full1{
    left: 250px;
    width: calc(100% - 250px);
  }

